<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="/auth/index">홈</a>
    <br>
    <div th:text="${#authentication.name}"></div>

    <div th:with="vo= ${boardvo}" >
            <div th:text="${'제목'+vo.getTitle}"></div>
            <div th:text="${'작성자'+vo.getEmail}"></div>
            내용
            <div th:text="${vo.getContent}"></div>
            <div th:text="${'조회수'+'&nbsp'+vo.getHit}"></div>

            <div th:if="${#authentication.name==vo.getEmail}">
                <form action="/updatecontent">
                    <input type="hidden" id="bid" name="bid" th:value="${vo.getBid}">
                    <input type="submit" id="update" value="수정">
                </form>
                <form action="deletecontent">
                    <input type="submit" id="delete" value="삭제">
                </form>
                </div>
                <div id="errorcomment"></div>  
            <br>
            <a href="/auth/boardlist">게시판</a>
            <br>
            댓글
            <div th:if="${#authentication.name!=null}">
                <input type="text" id="comment" name="comment"><!--본문-->
                <input type="hidden" id="bid" name="bid" th:value="${vo.getBid}">
                <input type="button" id="button" value="완료">
            </div>
    </div>
    
</div>
    

<script>
$(function()
{
    $('#replybutton').click(function(){
        $('#reply').html('<input type="text" id="writereply">');
        $('#canclereplybutton').html('<input type="button" id="canclereply" value="취소">');
    })
    $('#canclereply').click(function(){
        $('#reply').remove();
        $('#canclereplybutton').remove();
        $('#writereply').remove();
        $('#canclereply').remove();
    })
    $('#comment').keyup(function(){
        if( $('#comment').val().length>50)
        {
            $('#comment').css('background-color','pink');
        }
        else
        {
            $('#comment').css('background-color','white');
        }
    })
    $('#button').click(function(){
        $.ajax({
            type:"post",
            url:"/insertcomment",
            data:{
                "bid":$('#bid').val(),
                "comment":$('#comment').val()
            },
            success:function(data){
            if($.trim(data)=="yes")
            {
                location.href="/auth/content?bid="+$('#bid').val();
            }
        }
        })
    })
    
})
</script>
</body>
</html>